:root {
    --font-main: "Rubik Vinyl", serif;
    --font-second: "Modak", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    font-family: var(--font-second);
    
      
}

.header {
width: 100%;
padding-top: 1rem;
}

.header h1 {
    font-size: 4rem;
    text-align: center;
    font-family: var(--font-main);
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    padding-top: 2rem;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main h3 {
    font-family: var(--font-main);
    margin-bottom: 10px;
    font-size: 2rem;
    height: 70px;
}
.span-mark {
    font-size: 2.9rem;
    padding-left: 0.5rem;
}
.main .select-mode {
    margin: 30px 0;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}


.main .select-mode .mode {
    padding: 1rem;
    border: solid 2px black;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: 4px 5px 1px rgb(0, 0, 0,1);
    transform: translateY(-5px);
    transition: all 0.3s ease;

}

.main .select-mode .mode.active {
    box-shadow: 2px 2px 1px rgb(0, 0, 0,1);
    transform: translateY(0px);
}
 #table {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
}

#table .index {
    cursor: pointer;
    padding: 1rem;
}

#table div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-index {
    display: none;
}

.img-index.checked {
    display: block;
}

#table div:nth-child(2),#table div:nth-child(5),#table div:nth-child(8){
    border-left: solid black 4px;
    border-right: solid black 4px;
}

#table div:nth-child(4),#table div:nth-child(5),#table div:nth-child(6){
    border-top: solid rgb(0, 0, 0) 4px;
    border-bottom: solid black 4px;
}
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside input[type="text"] {
    appearance: none;
    border: none;
    border-bottom: solid 3px black;
    padding: 0.2rem;
    font-size: 2rem;
    font-family: var(--font-second);
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    
}

.aside input:focus {
    border: none;
    border-bottom: solid 3px black; 
    outline: none;
}

.aside .container-mark   {
    border: solid 3px black;
    width: 100px;
    height: 100px;
    padding: 0.6rem;
    border-radius: 6px;
    margin-top: 30px;
}

.aside .container-mark img {
    width: 100%;
}

.aside .score {
    margin-top: 100px;
    font-size: 3rem;
    font-family: var(--font-main);
}

.aside span:last-child {
    font-size: 2rem;
    font-family: var(--font-main);
}

#startGame {
    padding: 1rem 2rem;
    border: solid 2px black;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 4px;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    max-height: 70px;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
#startGame.active {
    transform: translateY(0px);
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}
#reset {
    width: 70px;
    height: 70px;
    border: solid 2px black;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    transform: translateY(-5px);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.displayGame {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
#reset.active {
    transform: translateY(0px);
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}
#reset img {
    width: 100%;
    height: 100%;
}
    
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    z-index: 10;
}
form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 1fr 150px;
    height: auto;
}
.container-submit {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;

}
#continue {
    margin: 0 auto;
    text-align: center;
    padding: 1.2rem 4rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 2px black;
    outline: none;
    font-family: var(--font-second);
    font-size: 1.2rem;
}

.aside-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.aside-modal input[type="text"] {
    appearance: none;
    border: none;
    border-bottom: solid 3px black;
    padding: 0.2rem;
    font-size: 2rem;
    font-family: var(--font-second);
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.aside-modal input[type="text"]:focus {
    outline: none;
}
.aside-modal:first-child {
    grid-row: 2/3;
}
.player-bot {
    grid-column: 2/3;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 20px;
}

.player-bot-label {
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    border: solid 2px black;
    font-family: var(--font-main);

}

.player-bot input {
    display: none;
}

.container-mark {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mark input {
    display: none;
}

.container-mark .mark-label {
    padding: 1rem 2.5rem;
    border: solid 2px black;
    font-size: 2rem;
    font-family: var(--font-main);
    cursor: pointer;
}

/*~*/
.container-mark .inputMark:checked + .mark-label {
    background-color: black;
    color: white;
}

.mode-input:checked + .player-bot-label {
    background-color: black;
    color: white;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}